In [52]:

import pandas as pd
df = pd.read_csv('transactions.csv')
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [53]:


# 1. Print summary of the dataset
print("Summary of Transaction Dataset:")
print(df.describe(include="all"))  # Includes both numeric and categorical data

# 2. Print number of attributes (columns)
print("\nNumber of Attributes:", df.shape[1])

# 3. Print number of records (rows)
print("Number of Records:", df.shape[0])

Summary of Transaction Dataset:
        TransactionID TransactionDate    UserID  ProductID   Quantity
count        10.00000              10  9.000000  10.000000  10.000000
unique            NaN              10       NaN        NaN        NaN
top               NaN      2010-08-21       NaN        NaN        NaN
freq              NaN               1       NaN        NaN        NaN
mean          5.50000             NaN  3.444444   3.400000   2.400000
std           3.02765             NaN  2.127858   1.074968   1.712698
min           1.00000             NaN  1.000000   2.000000   1.000000
25%           3.25000             NaN  2.000000   2.250000   1.000000
50%           5.50000             NaN  3.000000   4.000000   2.000000
75%           7.75000             NaN  3.000000   4.000000   3.000000
max          10.00000             NaN  7.000000   5.000000   6.000000

Number of Attributes: 5
Number of Records: 10

In [54]:
row_names = df.index

print("Row Names (Index):")
print(row_names)

Row Names (Index):
RangeIndex(start=0, stop=10, step=1)

In [55]:
column_names = df.columns

# Print column names
print("Column Names:")
print(column_names)

Column Names:
Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [56]:
print("Top 10 Records:")
print(df.head(10))

Top 10 Records:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [57]:
df.rename(columns={"Quantity": "Quant"}, inplace=True)


print("Updated Column Names:")
print(df.columns)

Updated Column Names:
Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quant'], dtype='object')

In [58]:
# Rename the columns
df.rename(columns={"ProductID": "PID", "UserID": "UID"}, inplace=True)

# Display the updated column names
print("Updated Column Names:")
print(df.columns)

Updated Column Names:
Index(['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant'], dtype='object')

In [59]:
# Sort the dataframe by TransactionId in descending order
df_sorted = df.sort_values(by="TransactionID", ascending=False)

# Display the first few rows of the sorted dataframe
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

In [60]:
# Sort by Quantity (ascending) and TransactionDate (descending)
df_sorted = df.sort_values(by=["Quant", "TransactionDate"], ascending=[True, False])

# Display the first few rows of the sorted dataframe
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [61]:
# Reorder the columns
df = df[["PID", "Quant", "TransactionDate", "TransactionID", "UID"]]

# Display the first few rows to verify
print(df.head())

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0

In [62]:
df = df[["UID"] + [col for col in df.columns if col != "UID"]]
df

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [63]:
second_column_array = df.iloc[:, 1].values  # Using iloc to select the second column

# Print the extracted array
print("Second Column as an Array:")
print(second_column_array)

Second Column as an Array:
[2 4 3 2 4 5 4 2 4 4]

In [64]:

# 14. Get the ProductID (PID) Array
print(df['PID'].values)

[2 4 3 2 4 5 4 2 4 4]

In [65]:

# 15. Get the ProductID array using a variable
column_name = "PID"
print(df[column_name].values)

[2 4 3 2 4 5 4 2 4 4]

In [66]:
# 16. Row subsetting, subset rows 1,3, and 6
print(df.iloc[[0, 2, 5]])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
5  2.0    5      6      2013-12-23              6

In [67]:
# 17. Subset rows excluding 1,3, and 6
print(df.drop(index=[0, 2, 5]))

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [68]:
# 18. Subset the first three rows
print(df.iloc[:3])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3

In [69]:
# 19. Subset the last 2 rows
print(df.iloc[-2:])

   UID  PID  Quant TransactionDate  TransactionID
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [70]:
# 20. Subset rows excluding the last 2 rows
print(df.iloc[:-2])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8

In [71]:
# 21. Subset rows excluding the first 3 rows
print(df.iloc[3:])

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [72]:
# 22. Subset rows where Quantity > 1
print(df[df["Quant"] > 1])

   UID  PID  Quant TransactionDate  TransactionID
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [73]:
# 23. Subset rows where UserID = 2
print(df[df["UID"] == 2])

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [74]:
# 24. Subset rows where Quantity > 1 and UserID = 2
print(df[(df["Quant"] > 1) & (df["UID"] == 2)])

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [75]:

# 25. Subset rows where Quantity + UserID is >3
print(df[(df["Quant"] + df["UID"]) > 3])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [76]:
# 26. Subset rows where an external array, foo, is True
foo = [True, False, True, False] * (len(df) // 4) + [True] * (len(df) % 4)
print(df[foo])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
2  3.0    3      1      2011-06-16              3
4  2.0    4      1      2013-06-06              5
6  3.0    4      1      2013-12-30              7
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [77]:
# 27. Subset rows where an external array, bar, is positive
import numpy as np
bar = np.random.randn(len(df))  # Example random array
print(df[bar > 0])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9

In [78]:
# 28. Subset rows where foo is TRUE or bar is negative
print(df[(foo) | (bar < 0)])

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [79]:
# 29. Subset rows where foo is not TRUE and bar is not negative
print(df[(~pd.Series(foo)) & (bar >= 0)])

Empty DataFrame
Columns: [UID, PID, Quant, TransactionDate, TransactionID]
Index: []

In [80]:
# 30. Subset by columns 1 and 3
print(df.iloc[:, [0, 2]])

   UID  Quant
0  7.0      1
1  3.0      1
2  3.0      1
3  1.0      3
4  2.0      1
5  2.0      6
6  3.0      1
7  NaN      3
8  7.0      3
9  3.0      4

In [81]:
# 31. Subset by columns TransactionID and TransactionDate
print(df[["TransactionID", "TransactionDate"]])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [82]:
# 32. Subset by columns TransactionID and TransactionDate with logical operator
print(df.loc[df["Quant"] > 1, ["TransactionID", "TransactionDate"]])

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [83]:
# 33. Subset columns by a variable list of column names
columns_to_select = ["TransactionID", "TransactionDate"]
print(df[columns_to_select])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [84]:
# 34. Subset columns excluding a variable list of column names
columns_to_exclude = ["Quant", "PID"]
print(df[[col for col in df.columns if col not in columns_to_exclude]])

   UID TransactionDate  TransactionID
0  7.0      2010-08-21              1
1  3.0      2011-05-26              2
2  3.0      2011-06-16              3
3  1.0      2012-08-26              4
4  2.0      2013-06-06              5
5  2.0      2013-12-23              6
6  3.0      2013-12-30              7
7  NaN      2014-04-24              8
8  7.0      2015-04-24              9
9  3.0      2016-05-08             10

In [86]:

# 35. Inserting and updating values
df.loc[df['UID'] == 2, 'Quant'] = 100
df

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4    100      2013-06-06              5
5  2.0    5    100      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [87]:
# 36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4    100      2013-06-06              5
5  2.0    5    100      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [88]:
# 37. Insert a new column, Foo = UID + PID
df['Foo'] = df['UID'] + df['PID']

# Print final dataset
df.head()

   UID  PID  Quant TransactionDate  TransactionID  Foo
0  7.0    2      1      2010-08-21              1  9.0
1  3.0    4      1      2011-05-26              2  7.0
2  3.0    3      1      2011-06-16              3  6.0
3  1.0    2      3      2012-08-26              4  3.0
4  2.0    4    100      2013-06-06              5  6.0